.hamburger-menu-container {
  padding: 1rem;
  position: fixed;
  z-index: 9;
  top: 4.8rem;
  left: 0;
  list-style: none;
  background-color: var(--white-color);
  width: 35%;
  transform: 0.3s ease-in-out;
  height: 100vh;
  display: none;
}
.hamburger-item {
  gap: 6px;
  font-size: 1.4rem;
  justify-content: flex-start;
  width: 100%;
}
.hamburger-menu-item {
  font-family: "Nunito", sans-serif;
  color: var(--primary-color-dark);
  margin-bottom: 1rem;
  font-weight: bold;
}
.hamburger-menu-item:hover {
  cursor: pointer;
  color: var(--secondary-dark);
}
@media screen and (max-width: 880px) {
  .hamburger-menu-container {
    display: block;
  }
}
