.login-image-container img {
  width: 32vw;
}
.login-container-with-image {
  margin: 3rem auto;
  height: 100vh;
  justify-content: space-around;
  padding: 2rem;
  flex-wrap: wrap;
}
.login-form-container {
  background-color: var(--white-color);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
}
.btn.login-btn,
.btn.login-btn-outline {
  min-width: 18rem;
  padding: 7px;
  font-size: 1.23rem;
  color: var(--color-black);
  cursor: pointer;
}
.btn.login-btn-outline {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  margin-top: 15px;
}
.login-badge {
  position: absolute;
  left: 22.7rem;
  top: 13.9rem;
  cursor: pointer;
}
.loader {
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
@media screen and (max-width: 900px) {
  .login-container-with-image {
    margin-top: 6rem;
    flex-direction: column;
  }
  .login-image-container img {
    width: 100%;
  }
  .input-signup {
    width: 100%;
  }
  .signup-page-container {
    margin-top: 10rem;
  }
  .login-badge {
    top: 14.8rem;
  }
  .login-badge,
  .password-badge,
  .confirm-password-badge {
    left: 17rem;
  }
  .password-badge {
    top: 32.7rem;
  }
  .confirm-password-badge {
    top: 38.6rem;
  }
  .loader {
    width: fit-content;
    top: 50%;
    left: 40%;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
