.user-post-comment-container {
  background-color: var(--white-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: auto;
  padding: 1rem;
  width: fit-content;
  gap: 10px;
}
.user-post {
  gap: 10px;
}
.header-with-dp-and-username {
  justify-content: space-between;
  width: inherit;
}
.profilepic-container {
  align-self: flex-start;
}
.username-and-more-option {
  width: 100%;
  gap: 2px;
}
.username-and-icon {
  width: inherit;
  justify-content: space-between;
  font-weight: bold;
}
.username-from-posts {
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}
.more-options {
  align-self: flex-start;
  color: var(--light-stone);
  cursor: pointer;
}
.users-post-details-container {
  height: auto;
  min-height: auto;
  text-align: justify;
  width: 100%;
  min-width: 73ch;
  max-width: 40ch;
}
.details {
  font-family: "Nunito", sans-serif;
  word-wrap: break-word;
  height: auto;
}
.user-post-icons-container {
  width: 100%;
  justify-content: space-between;
  font-size: 1.1rem;
  color: var(--dark-stone);
}
.comment-section-container {
  height: auto;
  width: 100%;
}
.avatar-and-input-container {
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid var(--light-stone);
  padding-top: 2px;
  gap: 2px;
  align-items: center;
}
.input-and-sendbtn-container {
  width: 91%;
  border: 1px solid lightslategray;
  padding: 3px;
  background-color: var(--background-color);
  cursor: pointer;
  margin-top: 2px;
}
.input-for-comment {
  outline: none;
  border: none;
  width: 100%;
  background: transparent;
}
.comment-rendered-section {
  height: auto;
  width: 100%;
  gap: 3px;
}
.username-avatar-container {
  width: 100%;
  justify-content: space-between;
  gap: 17px;
  margin-top: 7px;
}
.username-and-comment {
  font-family: "Nunito", sans-serif;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
}
.comment-container {
  width: fit-content;
  align-items: flex-start;
}
.avatar-container-from-comment {
  align-self: flex-start;
}
.username {
  margin: 0px 0 -6px 0;
  font-weight: bold;
}
.reply-link {
  color: var(--primary-color);
  cursor: pointer;
  margin-top: 4px;
}
.avatar-and-input-container-for-reply {
  width: 83%;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}
.background-of-icon {
  background-color: var(--white-color);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 8px;
  cursor: pointer;
}
.liked-by-container {
  width: 100%;
  justify-content: flex-start;
}
.color-red {
  color: red;
}
.userspost-likeCount {
  width: 100%;
  font-family: "Nunito", sans-serif;
  justify-content: flex-start;
  color: blue;
}
.comment-section {
  width: 80%;
  justify-content: flex-start;
}
.image-conatiner {
  height: 16rem;
  width: 100%;
}
.image-of-post {
  height: 100%;
  width: 80%;
  object-fit: contain;
}
