.header-container {
  background-color: var(--white-color);
  justify-content: space-between;
  border-bottom: 1px solid var(--light-stone);
  position: fixed;
  height: 5.6rem;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.humburgermenu-icon {
  display: none;
  font-size: 2rem;
  margin-left: 6px;
  cursor: pointer;
}
.logo-container {
  margin-left: 2rem;
  height: 100%;
}
.search-input-container {
  width: 90%;
  padding: 5px;
  border: 1px solid black;
  justify-content: flex-start;
  border-radius: 7px;
  margin-top: 10px;
  background-color: var(--background-color);
}
.search-icon {
  font-size: 1rem;
  margin-left: 1rem;
  color: var(--light-stone);
}
.input-search {
  margin-left: 2px;
  border: none;
  outline: none;
  width: 70%;
  background: transparent;
}
.btn.nav-btn {
  min-width: 5.4rem;
  font-size: 1.2rem;
  margin-right: 6px;
  padding: 7px;
  cursor: pointer;
  background: linear-gradient(
    var(--primary-color-dark),
    var(--primary-color-medium)
  );
}
@media screen and (max-width: 900px) {
  .header-container {
    width: 100vw;
  }
  .humburgermenu-icon {
    display: block;
  }
  .header-login-button-container {
    display: none;
  }
}
