.explore-page-container {
  height: 100%;
  margin: 7rem 0 0 9rem;
  justify-content: flex-start;
}
.userallpost-container {
  gap: 12px;
  margin: 2rem 0 0 6rem;
  width: 100%;
  align-items: flex-start;
}
.list-of-users-container {
  align-self: flex-start;
  padding: 1rem;
  margin: 3rem 2rem 0 0;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .explore-page-container {
    flex-wrap: wrap;
    margin: 5rem 0 0 -4rem;
    flex-direction: column-reverse;
    gap: 0;
  }
  .list-of-users-container {
    align-self: center;
    width: 90vw;
    margin-left: 12%;
  }
  .userallpost-container {
    width: 100%;
    margin-left: 4%;
  }
}
@media screen and (max-width: 1250px) {
  .explore-page-container,
  .home-page-container {
    flex-wrap: wrap;
  }
  .list-of-users-container,
  .user-list-container {
    margin-left: 11%;
    max-width: 93vw;
  }
}
