.home-page-container {
  height: 100%;
  margin: 6rem 0 0 10rem;
  justify-content: flex-start;
  gap: 2rem;
}
.home-feed-container {
  height: auto;
  align-self: flex-start;
  padding: 1rem;
  margin: 2rem 0 0 4rem;
  width: fit-content;
}
.heading-of-post {
  font-family: "Nunito", sans-serif;
  color: var(--dark-stone);
  align-self: flex-start;
  font-size: 1.6rem;
}
.userpost-container {
  gap: 12px;
  width: 100%;
}
.user-list-container {
  align-self: flex-start;
  padding: 1rem;
  margin: 2rem 2rem 0 0;
  width: 100%;
}
.text-to-show {
  color: var(--primary-color-dark);
  font-size: 1.3rem;
}
@media screen and (max-width: 900px) {
  .home-page-container {
    flex-wrap: wrap;
    margin: 5rem 0 0 -3.3rem;
    flex-direction: column-reverse;
    gap: 0;
  }
  .textarea-of-createPost {
    width: 72vw;
  }
  .user-list-container {
    align-self: center;
    width: 88vw;
    margin-left: 10%;
  }
  .filter-item-container {
    width: 86vw;
    margin-left: 4%;
  }
  .heading-of-post {
    margin-left: 10px;
  }
  .userpost-container {
    width: 93%;
  }
  .icons-container {
    width: 40%;
  }
  .input-and-sendbtn-container {
    width: 87%;
    margin-left: 0;
  }
  .users-post-details-container {
    min-width: 45ch;
  }
  .btn-of-post {
    max-width: 3rem;
    padding: 7px;
    font-size: 1.1rem;
  }

  .emojicontainer {
    top: 18rem;
  }
  .post-image {
    width: 100%;
    height: 7rem;
  }
  .image-of-post {
    height: 10rem;
    width: 100%;
  }
  .image-conatiner {
    height: 10rem;
    width: 80%;
  }
  .icon-in-post {
    right: 8rem;
    top: 12.4rem;
  }
  .username-avatar-container {
    width: 85%;
  }
  .avatar-container-from-comment {
    margin: 1px 0 0 2px;
  }
  div .toast-display {
    font-size: 1.2rem;
  }
}
