@import url("https://iqra-ui.netlify.app/stylesheets/main.css");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@300;500&family=Open+Sans:ital,wght@1,300&family=Oswald&family=Roboto:ital,wght@1,300&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: var(--background);
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-direction-column {
  flex-direction: column;
}
input[type="checkbox"] {
  cursor: pointer;
}
.btn {
  min-width: 15rem;
  max-width: 20rem;
}
html {
  font-size: 90%;
}
/* colors*/
:root {
  --color-black: #233138;

  /* second color palatte dark theme */
  --primary-color: #6499e7;
  --primary-color-dark: #295ca8;
  --secondary-dark: #050d2c;
  --white-color: #ffffff;
  --Light-purple: #8e9cd3;
  --background-color: #f7f7f8;
  --background: #f4f4f5;

  /* THIRD */
  --soya-bean: #69604d;
  --green-white: #eef0e7;
  --jet-stream: #bfd6d3;
  --guif-stream: #8bb9b9;
  --plantation: #284e57;
}
